__init__.py
*.pyc
*.so
/tuples
/results
/tarballs
/*.pb
/Training/python/build
/Training/python/sf_calc.c*
/Training/python/fill_grid.c*
.ipynb_checkpoints
.DS_Store
*.svg
*.swp
/soft
.vscode
.conda
/.law
/data
!/Preprocessing/root2tf/configs/data
/.crabOverseer
/Evaluation/outputs
